<footer class="row">
    <div class="container">
        <div class="footer">
            <div class="footer-item">
                <h2>لورم ایپسوم</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at atque culpa dolorum eaque ex
                    obcaecati officiis unde? Est impedit ipsum molestias natus quam quasi quis quos soluta tenetur
                    vitae!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at atque culpa dolorum eaque ex
                    obcaecati officiis unde? Est impedit ipsum molestias natus quam quasi quis quos soluta tenetur
                    vitae!
                </p>
            </div>

            <div class="footer-item">
                <h2>لورم ایپسوم</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at atque culpa dolorum eaque ex
                    obcaecati officiis unde? Est impedit ipsum molestias natus quam quasi quis quos soluta tenetur
                    vitae!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at atque culpa dolorum eaque ex
                    obcaecati officiis unde? Est impedit ipsum molestias natus quam quasi quis quos soluta tenetur
                    vitae!
                </p>
            </div>

            <div class="footer-item">
                <h2>لورم ایپسوم</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at atque culpa dolorum eaque ex
                    obcaecati officiis unde? Est impedit ipsum molestias natus quam quasi quis quos soluta tenetur
                    vitae!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at atque culpa dolorum eaque ex
                    obcaecati officiis unde? Est impedit ipsum molestias natus quam quasi quis quos soluta tenetur
                    vitae!
                </p>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
           <p> تمامی حقوق وب سایت متعلق به <a href="https://github.com/mohsen-ziadi">محسن زیادی</a> می باشد.</p>
        </div>
    </div>
</footer>