<nav>
    <div class="container">
    <ul id="right-list-nav">
        <a href="http://localhost:8000"><li>صفحه نخست</li></a>
        <a href="http://localhost:8000/blog"><li>صفحه مقالات</li></a>
        <a href="#"><li>تماس با ما</li></a>
    </ul>
    <ul id="left-list-nav">
        {% if request.user.is_authenticated %}
            <a href="http://localhost:8000/blog/account-form/"><li>حساب کاربری</li></a>
        {% else %}
            <a href="http://localhost:8000/login"><li>ورود</li></a>
        {% endif %} 

    </ul>
    </div>
</nav>
<div id="header" class="row">
    <div class="container">
            <h2 class>بلاگ نمونه</h2>
            <p>این یک بلاگ نمونه است.</p>
    </div>
</div>