<div id="paginator">

    <div class="prePage">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">
                <li>قبلی</li>
            </a>
        {% else %}
            <span>قبلی</span>
        {% endif %}
    </div>
    <div class="numPage">
        {% for i in page.paginator.page_range %}
            {% if i == page.number %}
                <span class="active-numPage">  {{ i }}  </span>
            {% else %}
                <span>  {{ i }}  </span>
            {% endif %}
        {% endfor %}
    </div>
    <div class="nxtPage">

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">
                بعدی
            </a>
        {% else %}
            <span>بعدی</span>
        {% endif %}

    </div>


    <ul>

        <div class="numberOfPage">

        </div>

    </ul>

</div>