{% extends 'blog/parent/base.html' %}

{% block title %}
    فرم اطلاعات شخصی
{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            <h2 class="titr-post-list">فرم اطلاعات شخصی:</h2>
            <div id="AccountForm">
                <form method="post">
                    <span>نام:</span>
                    <input class="input-account-form" type="text" name="first_name" required
                            {% if form.first_name.value %}
                           value="{{ form.first_name.value }}" {% else %}
                           value="{{ account.user.first_name|default:' ' }}" {% endif %}>
                    <br>

                    <span>نام خانوادگی:</span>
                    <input class="input-account-form" type="text" name="last_name" required
                            {% if form.last_name.value %}
                           value="{{ form.last_name.value }}" {% else %}
                           value="{{ account.user.last_name|default:' ' }}" {% endif %}>
                    <br>

                    <span>شماره همراه:</span>
                    <input class="input-account-form" type="text" name="phone"
                           value="{{ account.phone|default:'' }}">
                    <br>

                    <span>جنسیت:</span>
                    مرد
                    <input type="radio" name="gender" value="male" {% if account.gender == "male" %}
                           checked {% endif %}>

                    زن
                    <input type="radio" name="gender" value="female" {% if account.gender == "female" %}
                           checked {% endif %}>
                    <br>

                    <span>آدرس:</span>
                    <textarea name="address" required>
                        {% if form.address.value %} {{ form.address.value }} {% else %}
                            {{ account.address.value|default:'' }} {% endif %}
                    </textarea>
                    <br>
                    <span> </span>
                    <input class="submit-accuont-form" type="submit" value="ثبت تغییرات">
                    <br>
                    <br>
                    <span> </span>
                    <a href="{% url "logout" %}" class="submit-accuont-form logout">خروج از حساب کاربری</a>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}