{% extends 'blog/parent/base.html' %}

{% block title %}
    فرم اطلاعات شخصی
{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            <h2 class="titr-post-list">فرم اطلاعات شخصی:</h2>
            <form action="" method="post">
                <form action="/your-name/" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="OK">
                </form>
            </form>
        </div>
    </div>
{% endblock %}