{% extends 'blog/parent/base.html' %}

{% block title %}
    لیست مقالات
{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            <div class="post-detail">
                <h2 class="titr">
                    {{ post.title }}
                </h2>
                <span>{{ post.author }} </span>
                <span> / </span>
                <span>{{ post.publish.year }}-{{ post.publish.month }}-{{ post.publish.day }}</span>

                <p>{{ post.body }}</p>
            </div>

            <div class="share_post">
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="submit" value="اشتراک گذاری">
                </form>
            </div>

            <div class="comment-form">
                <h2 class="titr">
                    ارسال نظرات
                </h2>
                <form action="#">

                    <input id="name-input" placeholder="نام" name="first_name" type="text">
                    <input id="lastname-input" placeholder="نام خانوادگی" name="lastname" type="text">
                    <input id=email-input" placeholder="ایمیل" name="email" type="text">
                    <br>
                    <br>
                    <textarea name="text" placeholder="نظر شما ..."></textarea>
                    <input class="submit-comment" type="submit" value="ارسال">
                </form>
            </div>
        </div>
    </div>
{% endblock %}