{% extends 'blog/parent/base.html' %}

{% block title %}
    لیست مقالات
{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            <h2 class="titr-post-list">لیست مقالات:</h2>
            <div class="post-list">
                {% for post in posts %}
                    <div class="item">
                        <a href="{{ post.get_absolute_url }}"><h4>{{ post.title }}</h4></a>
                        <span>{{ post.author }} </span>
                        <span> / </span>
                        <span> {{ post.publish.year }}-{{ post.publish.month }}-{{ post.publish.day }}</span>

                        <br>
                        <a href="{{ post.get_absolute_url }}" class="readmore">ادامه مطلب</a>
                    </div>

                {% endfor %}


            </div>
            {% include 'blog/partials/paginator.html' with page=posts %}
        </div>
    </div>
{% endblock %}