{% extends 'blog/parent/base.html' %}

{% block title %}
لیست مقالات
{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            <h2 class="titr-post-list">لیست مقالات:</h2>
            <div class="post-list">
                <div class="item">
                    <a href="#"><h4>پست نمونه</h4></a>
                    <span>sgul</span>
                    <span> / </span>
                    <span>نویسنده</span>
                    <br>
                    <a href="#" class="readmore">ادامه مطلب</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}